<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.pbj.demo2020.ssm.dao.master.SysUserMasterDao">

    <!--开启mybatis二级缓存-->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <resultMap id="SysUserResultMap" type="cn.pbj.demo2020.ssm.entity.SysUser">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <id column="username" jdbcType="VARCHAR" property="username" />
        <id column="password" jdbcType="VARCHAR" property="password" />
        <id column="salt" jdbcType="VARCHAR" property="salt" />
        <id column="email" jdbcType="VARCHAR" property="email" />
        <id column="mobile" jdbcType="VARCHAR" property="mobile" />
        <id column="status" jdbcType="TINYINT" property="status" />
        <id column="dept_id" jdbcType="VARCHAR" property="deptId" />
        <id column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <!--查询所有用户信息-->
    <select id="queryUserAll" resultType="cn.pbj.demo2020.ssm.entity.SysUser" resultMap="SysUserResultMap">
        SELECT
        ur.*
        FROM
        sys_user ur
        WHERE
        1 = 1
    </select>

    <!--根据用户userId查询用户信息-->
    <select id="queryUserInfo" resultType="cn.pbj.demo2020.ssm.entity.SysUser" resultMap="SysUserResultMap">
        SELECT
        ur.*
        FROM
        sys_user ur
        WHERE
        1 = 1
        AND ur.user_id = #{userId}
    </select>

    <!-- 根据UserId，更新邮箱和手机号 -->
    <update id="updateUserInfo" parameterType="cn.pbj.demo2020.ssm.entity.SysUser">
        UPDATE sys_user u
        <set>
            <if test="email != null">
                u.email = #{email},
            </if>
            <if test="mobile != null">
                u.mobile = #{mobile},
            </if>
        </set>
        WHERE
        u.user_id = #{userId}
    </update>
</mapper>
